<!DOCTYPE html>
<html lang="en" class="has-background-success-light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Random Repo Images</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-YLZMF4M8SS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YLZMF4M8SS");
    </script>
  </head>

  <body>
    <div class="column is-pulled-left">
      <a href="https://github.com/agmmnn/random-repo-img" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
        >
          <path
            d="M0 0v24h24v-24h-24zm14.534 19.59c-.406.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.311-1.588-.824-2.147.083-.202.357-1.016-.079-2.117 0 0-.671-.215-2.198.82-.639-.18-1.323-.267-2.003-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"
          /></svg
      ></a>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns is-gapless">
          <div class="column">
            <h1 class="title is-2">🧤</h1>
          </div>
          <div class="column is-full">
            <h1 class="title is-2 is-spaced">random-repo-img</h1>
            <h2 class="subtitle">
              A simple tool to pick and return a random image from the given
              github repo folder.
            </h2>

            <div class="tags are-medium">
              <span class="tag is-primary">random-repo-img.herokuapp.com/</span>
              <span class="tag is-primary">user</span>
              <span class="tag is-primary">/</span>
              <span class="tag is-primary">repo</span>
              <span class="tag is-primary">/</span>
              <span class="tag is-primary">image_folder</span>
            </div>
            <div class="field has-addons">
              <div class="control">
                <input
                  class="input"
                  id="input"
                  size="72"
                  type="text"
                  placeholder="https://github.com/agmmnn/random-repo-img/tree/master/sample_imgs"
                  value="https://github.com/agmmnn/random-repo-img/tree/master/sample_imgs"
                />
              </div>
              <div class="control">
                <button class="button is-primary is-fullwidth" id="ok">
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-two-thirds">
          <div class="box">
            <div class="column">
              Link:
              <pre><code class="language-html" id="md_link"><a href="/agmmnn/random-repo-img/sample_imgs">https://randomrepoimg.fly.dev/agmmnn/random-repo-img/sample_imgs</a></code></pre>
              <button
                class="button is-light"
                data-clipboard-action="copy"
                data-clipboard-target="#md_link"
              >
                Copy
              </button>
            </div>
            <div class="column">
              HTML:
              <pre><code class="language-html" id="md_html">&lt;img src=&quot;https://randomrepoimg.fly.dev/agmmnn/random-repo-img/sample_imgs&quot; alt=&quot;random-repo-img&quot;&gt;</code></pre>
              <button
                class="button is-light"
                data-clipboard-action="copy"
                data-clipboard-target="#md_html"
              >
                Copy
              </button>
            </div>
            <div class="column">
              Markdown:
              <pre><code class="language-markdown" id="md_markdown">![img](https://randomrepoimg.fly.dev/agmmnn/random-repo-img/sample_imgs "random-repo-img")</code></pre>
              <button
                class="button is-light"
                data-clipboard-action="copy"
                data-clipboard-target="#md_markdown"
              >
                Copy
              </button>
            </div>
          </div>
        </div>
        <style>
          .input {
            background-color: rgb(240, 251, 246);
          }

          .box {
            background-color: rgb(240, 251, 246);
          }
        </style>
        <script>
          const clipboard = new ClipboardJS(".button");
          const button = document.getElementById("ok");
          const urlStart = "https://github.com/";

          const input = document.getElementById("input");
          const mdLink = document.getElementById("md_link");
          const mdHtml = document.getElementById("md_html");
          const mdMarkdown = document.getElementById("md_markdown");

          button.addEventListener("click", () => {
            if (input.value.startsWith(urlStart)) {
              const inpUnits = input.value.split(urlStart)[1].split("/");
              if (inpUnits.length === 5 && inpUnits.includes("tree")) {
                const link = `/${inpUnits[0]}/${inpUnits[1]}/${inpUnits[4]}`;

                mdLink.innerHTML = `<a href="${link}">https://randomrepoimg.fly.dev/${inpUnits[0]}/${inpUnits[1]}/${inpUnits[4]}</a>`;
                mdHtml.textContent = `<img src="https://randomrepoimg.fly.dev${link}" alt="random-repo-img">`;
                mdMarkdown.innerHTML = `![img](https://randomrepoimg.fly.dev${link} "random-repo-img")`;

                input.classList.add("is-info");
                input.classList.remove("is-danger");
              } else {
                input.classList.add("is-danger");
                input.classList.remove("is-info");
              }
            } else {
              input.classList.add("is-danger");
              input.classList.remove("is-info");
            }
          });
        </script>
      </div>
    </section>
  </body>
</html>
